In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [31]:
dframe2 = DataFrame([[1,2,3],[np.nan,5,6],[7,np.nan,9]],list("PQR"))

##

dframe2

In [32]:
dframe2

    0   1  2
P   1   2  3
Q NaN   5  6
R   7 NaN  9

In [62]:
dframe2.fillna(dict((x, 10000*x) for x in range(3)))

   0      1  2
P  1      2  3
Q  0      5  6
R  7  10000  9

In [59]:
object_dict = dict((x, 2*x) for x in range(3))

In [60]:
object_dict

{0: 0, 1: 2, 2: 4}

In [63]:
dict((x, 10000*x) for x in range(3))

{0: 0, 1: 10000, 2: 20000}