In [10]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy.random import randn

In [12]:
a=1

a

In [13]:
a

1

In [14]:
ser1 = Series([1,2,3,4], index = ['A','B','C','D'])

In [21]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [22]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
dtype: float64

In [23]:
ser2 = ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

In [24]:
ser2

A     1
B     2
C     3
D     4
E   NaN
F   NaN
G     0
dtype: float64

In [25]:
range(15)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [27]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [36]:
dframe = DataFrame(randn(25).reshape(5,5), index = ['A','B','C','D', 'E'], columns= ['C1','C2','C3','C4','C5'])

In [37]:
dframe

         C1        C2        C3        C4        C5
A  0.022092 -1.365791  1.656068 -0.688924 -0.281496
B  2.150482  0.996519  0.327695 -0.608029  0.714908
C -0.119816 -1.071874 -0.194544  0.911261  0.729827
D -1.254641 -0.475147  0.717573 -0.613108  0.953546
E  0.735582  0.354400 -0.915647 -0.051524 -0.451545

In [43]:
dframe2 = dframe.reindex(['A' ,'B','Z','C','D','E'])
dframe2

         C1        C2        C3        C4        C5
A  0.022092 -1.365791  1.656068 -0.688924 -0.281496
B  2.150482  0.996519  0.327695 -0.608029  0.714908
Z       NaN       NaN       NaN       NaN       NaN
C -0.119816 -1.071874 -0.194544  0.911261  0.729827
D -1.254641 -0.475147  0.717573 -0.613108  0.953546
E  0.735582  0.354400 -0.915647 -0.051524 -0.451545

In [45]:
dframe.ix[['A','B','C','D','E'], ['C1','Q','R','S','T']]

         C1   Q   R   S   T
A  0.022092 NaN NaN NaN NaN
B  2.150482 NaN NaN NaN NaN
C -0.119816 NaN NaN NaN NaN
D -1.254641 NaN NaN NaN NaN
E  0.735582 NaN NaN NaN NaN

In [48]:
x = pd.DataFrame({'year':[1,1,1,1,2,2,2,2],
   'country':['A','A','B','B','A','A','B','B'],
                      'prod':[1,2,1,2,1,2,1,2],
                    'val':[10,20,15,25,20,30,25,35]}, index = ['A','B','C','D','E','F','G','H'])

In [49]:
x

  country  prod  val  year
A       A     1   10     1
B       A     2   20     1
C       B     1   15     1
D       B     2   25     1
E       A     1   20     2
F       A     2   30     2
G       B     1   25     2
H       B     2   35     2

In [50]:
x = x.set_index(['year','country','prod']).squeeze()

In [51]:
x

year  country  prod
1     A        1       10
               2       20
      B        1       15
               2       25
2     A        1       20
               2       30
      B        1       25
               2       35
Name: val, dtype: int64

In [57]:
x.index = x.index.set_names('foo', level=1)

In [58]:
x

year  foo  foo
1     A    1      10
           2      20
      B    1      15
           2      25
2     A    1      20
           2      30
      B    1      25
           2      35
Name: val, dtype: int64