In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
import webbrowser

In [3]:
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'

In [5]:
webbrowser.open(website)

True

In [10]:
nfl_frame = pd.read_clipboard()

In [11]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West
5,6,New England Patriots,490,399,9,.551,1960,898,AFC East

In [12]:
nfl_frame.columns

Index([u'Rank', u'Team', u'Won', u'Lost', u'Tied', u'Pct.',
       u'First NFL Season', u'Total Games', u'Divison'],
      dtype='object')

In [13]:
nfl_frame.Team

0           Chicago Bears
1          Dallas Cowboys
2       Green Bay Packers
3          Miami Dolphins
4     San Francisco 49ers
5    New England Patriots
Name: Team, dtype: object

In [15]:
nfl_frame['First NFL Season']

0    1920
1    1960
2    1921
3    1966
4    1950
5    1960
Name: First NFL Season, dtype: int64

In [16]:
DataFrame(nfl_frame,columns=['Team','First NFL Season', 'Total Games'])

                   Team  First NFL Season Total Games
0         Chicago Bears              1920       1,338
1        Dallas Cowboys              1960         850
2     Green Bay Packers              1921       1,304
3        Miami Dolphins              1966         768
4   San Francisco 49ers              1950       1,019
5  New England Patriots              1960         898

In [17]:
DataFrame(nfl_frame,columns=['Team','First NFL Season', 'Total Games','Staduim'])

                   Team  First NFL Season Total Games  Staduim
0         Chicago Bears              1920       1,338      NaN
1        Dallas Cowboys              1960         850      NaN
2     Green Bay Packers              1921       1,304      NaN
3        Miami Dolphins              1966         768      NaN
4   San Francisco 49ers              1950       1,019      NaN
5  New England Patriots              1960         898      NaN

In [18]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West
5,6,New England Patriots,490,399,9,.551,1960,898,AFC East

In [23]:
nfl_frame.tail(2)

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West
5,6,New England Patriots,490,399,9,.551,1960,898,AFC East

In [24]:
nfl_frame.ix[3]

Rank                             4
Team                Miami Dolphins
Won                            429
Lost                           335
Tied                             4
Pct.                          .561
First NFL Season              1966
Total Games                    768
Divison                   AFC East
Name: 3, dtype: object

In [27]:
nfl_frame['Stadium'] = "Levi's Statium"

In [28]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,Levi's Statium
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,Levi's Statium
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,Levi's Statium
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,Levi's Statium
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,Levi's Statium
5,6,New England Patriots,490,399,9,.551,1960,898,AFC East,Levi's Statium

In [29]:
nfl_frame['Stadium'] = np.arange(6)

In [30]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,0
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,1
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,2
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,3
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,4
5,6,New England Patriots,490,399,9,.551,1960,898,AFC East,5

In [31]:
stadiums = Series(['Levi Statium','AT&T Statium'], index=[5,0])

In [32]:
nfl_frame['Stadium'] = stadiums

In [33]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison,Stadium
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North,AT&T Statium
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East,NaN
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North,NaN
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East,NaN
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West,NaN
5,6,New England Patriots,490,399,9,.551,1960,898,AFC East,Levi Statium

In [34]:
del nfl_frame['Stadium']

In [35]:
nfl_frame

,Rank,Team,Won,Lost,Tied,Pct.,First NFL Season,Total Games,Divison
0,1,Chicago Bears,741,555,42,.570,1920,"1,338",NFC North
1,2,Dallas Cowboys,480,364,6,.568,1960,850,NFC East
2,3,Green Bay Packers,720,547,37,.566,1921,"1,304",NFC North
3,4,Miami Dolphins,429,335,4,.561,1966,768,AFC East
4,5,San Francisco 49ers,520,436,14,.553 [a],1950,"1,019",NFC West
5,6,New England Patriots,490,399,9,.551,1960,898,AFC East

In [36]:
data = {'City':['SF','LA','NYC'], 'Population' : [83000,38000,84000]}

In [37]:
data

{'City': ['SF', 'LA', 'NYC'], 'Population': [83000, 38000, 84000]}

In [38]:
city_drame = DataFrame(data)

In [39]:
city_drame

  City  Population
0   SF       83000
1   LA       38000
2  NYC       84000